body{
    width: 1390px;
    margin-right: auto;
    margin-left: auto;
}

.logostyle{
    text-align: center;
}

img.logo {
    width: 230px;
    object-fit: fill;
}

.create-box{
    margin: 2em auto;
    margin-top: 0px;
    padding: 1em;
    width: 32%;
    background-color:#fff;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.new-account{
    margin-top: 0px;
    font-size: 40px;
    font-weight: normal;
}

label[for="name1"] {
    display: inline;
    font-family: arial;
    font-size: 17px;
    font-weight: 600;
    bottom: 0px;
}

label[for="name2"] {
    display: inline;
    font-family: arial;
    font-size: 17px;
    font-weight: 600;
    bottom: px;
}

label[for="name3"] {
    display: inline;
    font-family: arial;
    font-size: 17px;
    font-weight: 600;
    bottom: 0px;
}

.txtbox{
    width: 440px;
    height: 32px;
    font-size: 16px;
    border: 1px solid rgb(148, 148, 148);
    border-radius: 3px;
}

img.i {
    width: 15px;
}

.pass-nagasa{
    padding-top: 0px;
    font-weight: 100;
    font-size: 14px;
}

.push{
    background-color: #f1c75f;
    font-weight: 300;
    width: 440px;
    height: 37px;
    font-size: 16px;
    border: 1px solid rgb(148, 148, 148);
    border-radius: 3px;

}

.terms{
    font-family: arial;
    font-weight: 100;
    margin-bottom:80px;
}

.terms a{
    text-decoration: none;
}

.a-row{
    font-size: 17px;
    text-decoration: none;
}

.a-row a{
    text-decoration: none;
}

footer {
    clear:both;
    height:80px;
    text-align:center;
    }

.end a{
    text-decoration: none;
    padding-right: 20px;
    width: 100；
}
